header {
    height: 50rem;
    width: 100%;
    background: url(../../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        &__links {
            display: flex;
            gap: 0 2rem;
            align-items: center;
        }
        &__item {
            display: flex;
        }
        &__link {
            font-family: $font-family-primay;
            color: $white;
            padding: 0.5rem 1rem;
            transition: opacity 0.2s ease-in;
            &:hover {
                opacity: 0.4;
            }
        }
        &__link.active {
            text-transform: uppercase;
            background-color: $white;
            color: $very-dark-desaturated-blue;
            border-radius: 5rem;
        }
        &__hamburger__menu {
            display: none;
        }
    }
    .header {
        text-align: center;
        &__title {
            font-family: $font-family-secondary;
            font-size: 2.5rem;
            letter-spacing: 0.5rem;
            text-transform: uppercase;
            color: $white;
            text-align: center;
        }
        &__arrow__down{
            height: 10rem;
            margin-top: 8rem;
        }
        &__mobile__menu {
            display: none;
        }
    }
}
@include maxw($break-point-mobile) {
    header {
        height: 40rem;
        background: url(../../images/mobile/image-header.jpg) no-repeat center/cover;
        position: relative;
        .nav {
            padding: 1rem;
            &__links{
                display: none;
            }
            &__hamburger__menu {
                display: inline;
            }
        }
        .header {
            &__mobile__menu{
                margin-top: 1rem;
                position: absolute;
                z-index: 2;
                width: calc(100% - 3rem);
                left: 50%;
                transform: translateX(-50%);
                background-color: white;
                padding: 3rem 0rem;
                &__links{
                    padding: 0;
                    text-align: center;
                }
                &__item{
                    padding: 1rem;
                }
                &__link{
                    padding: 1rem 2rem;
                    font-family: $font-family-primay;
                    color: $dark-grayish-blue;
                    transition: opacity 0.2s ease-in;
                    &:hover {
                        opacity: 0.4;
                    }
                }
                &__link.active{
                    text-transform: uppercase;
                    background-color: $yellow;
                    color: $very-dark-desaturated-blue;
                    border-radius: 5rem;
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    z-index: 3;
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent; 
                    border-right:2rem solid white;
                    transform: translateY(-50%);
                }
            }
            &__mobile__menu.open{
                display: block;
            }
        }
    }
}
